.board-list .bl-mobile.bl-notice, .bl-notice, .bl-mobile i, .bl-mobile img, .board-list .bl-mobile span:nth-of-type(2) {
	background-color: unset !important;
    display: none !important;
}

.board-list .bl-mobile {
	position: absolute !important;
	right: 0 !important;
	margin-top: -35px !important;
	display: flex !important;
    flex-direction: column !important;
    font-size: 12px !important;
    text-align: right !important;
    justify-content: flex-end !important;
    border-bottom: unset !important;
    border-color: transparent !important;
    padding: 0 !important;
}

.board-list .bl-mobile-right {
	position: relative !important;
    top: unset !important;
    right: unset !important;
    margin-top: -2px !important;
}

.bl-mobile .f-s-15, .bl-mobile  .f-s-14 {
	font-size: 13px !important;
}
.bl-subj .f-s-14 {
    font-size: 12px;
}

.f-w-700 {
	font-weight: 500 !important;
}

.subj, .board-list .bl-list .bl-subj {
    font-size: 14px !important;
    line-height: 15px;
}

.category-list span {
	font-size: 13px !important;
    font-weight: 500 !important;
    padding: 0 3px !important;
}	